<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cáritas Administrador</title>
    <!-- Enlace al CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .fixed-card {
            height: auto;
            overflow: hidden;
            border: 1px solid #ced4da;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .card-body {
            padding: 1.25rem;
        }

        .card-footer {
            background-color: #fff;
            border-top: 1px solid #ced4da;
            padding: 0.75rem 1.25rem;
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            margin-right: 5px;
        }

    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/media/caritas-argentina.svg" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
            Caritas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/adminHome}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/crearPublicacion}">Nueva Publicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Pagina principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/newAdmin}">Agregar un administrador</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid d-flex justify-content-end">
            <span class="logged-as text-white me-3">
                Logueado como <strong th:text="${#authentication.name}"></strong>
            </span>
        </div>
        <form id="logoutForm" action="#" th:action="@{/logout}" th:method="post" class="d-flex">
            <input id="logoutButton" class="btn btn-warning form-control me-2" type="submit" value="Cerrar sesión"
                   onclick="return confirm('¿Desea cerrar sesión?');">
        </form>
    </div>
    <div>
        <a></a>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <!-- Itera sobre las publicaciones y muestra cada una en una tarjeta -->
        <th:block th:each="publicacion : ${publicaciones}">
            <div class="col-md-4 mb-4">
                <div class="card fixed-card">
                    <img class="img-thumbnail rounded container"
                         th:src="@{'/media/'+${publicacion.getImagen()}}"
                         th:alt="${publicacion.getImagen()}"
                         style="max-width: 100%">
                    <div class="card-body">
                        <h5 class="card-title mb-3" th:text="${publicacion.titulo}">Título</h5>
                        <p class="card-text description" th:text="${publicacion.descripcion}">Descripción</p>
                        <p class="card-text description-more" style="display: none;"></p>
                    </div>
                    <div class="card-footer">
                        <!-- Botones de editar y borrar -->
                        <div class="btn-group" role="group">
                            <a th:href="@{'/editarPublicacion/' + ${publicacion.getId()}}" class="btn btn-primary btn-sm">Editar</a>

                            <a th:href="@{/delete/{id}(id=${publicacion.getId()})}" class="btn btn-danger btn-sm">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".show-more").on("click", function () {
            var card = $(this).closest(".card");
            card.find(".description").hide();
            card.find(".description-more").text(card.find(".description").text());
            card.find(".description-more").show();
            $(this).hide();
        });
    });
</script>

<script>
    document.getElementById('logoutButton').addEventListener('click', function() {
        console.log('Logout button clicked!');
        document.cookie = "JSESSIONID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    });
</script>
</body>

</html>