<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Publicación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos adicionales si es necesario */
        /* Por ejemplo, para dar espacio entre los elementos del formulario */
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/media/caritas-argentina.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Caritas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/adminHome}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/adminHome/crearPublicacion}">Nueva Publicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Pagina principal</a>
                </li>
            </ul>
        </div>
        <form action="#" th:action="@{/login}" th:method="post" class="d-flex">
            <input class="btn btn-warning form-control me-2" type="submit" value="Cerrar sesión"
                   onclick="return confirm('¿Desea cerrar sesión?');">
        </form>
    </div>
</nav>

<div class="container mt-4">
    <h1>Crear Nueva Publicación</h1>

    <form th:action="@{/adminHome/crearPublicacion}" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required maxlength="30">
        </div>
        <div class="form-group">
            <label for="imagen">URL de la Imagen:</label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" required maxlength="50"> </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Publicación</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>