<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Publicación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos adicionales si es necesario */
        /* Por ejemplo, para dar espacio entre los elementos del formulario */
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>

<div th:insert = "~{adminNavbar :: adminNavbar}"></div>

<div class="container mt-4">
    <h1>Crear Nueva Publicación</h1>

    <form th:action="@{/adminHome/crearPublicacion}" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required maxlength="100">
        </div>
        <div class="form-group">
            <label for="imagen">URL de la Imagen:</label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" required maxlength="100"> </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Publicación</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>