<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Publicación</title>
    <link rel="stylesheet" th:href="@{/detallesPublicacion.css}">
</head>

<div th:insert = "~{indexNavbar :: indexNavbar}"></div>

<body>

    <div class="containerCards">
        <h2>Detalles de la Publicación</h2>
        <h3 th:text="${publicacion.titulo}">Título</h3>
        <img class="img-thumbnail rounded container"
             th:src="@{'/media/'+${publicacion.getImagen()}}"
             th:alt="${publicacion.getImagen()}">
        <p th:text="${publicacion.descripcion}">Descripción</p>
    </div>

</body>

</html>
