<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="donar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Donación</title>
</head>
<body>

<header>
    <div class="container">
        <img src='media/mercedes_lujan_2.jpg' alt="Logo de Cáritas" class="logo-img">
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a href="/quienes-somos">Quiénes somos</a>
            <a href="/noticias">Noticias</a>
            <a href="/donar" class="donar-button">Donar aquí</a>
        </nav>
    </div>
</header>

<section id="que-hacemos">
    <div class="container">
        <h2>¿Cómo ayudar?</h2>
        <div class="programas">
            <div class="carta">
                <h3>Donación monetaria</h3>
                <p><b>Es un compromiso de dar una cantidad específica de dinero de forma regular.</b></p>
                <button onclick="toggleInfoWindow(1)">+ Info</button>
            </div>
            <div class="carta">
                <h3>Otras maneras de colaborar</h3>
                <p><b>Tu apoyo no se limita a contribuciones económicas; también podés colaborar donando ropa u otros objetos que ya no necesites en nuestras sedes.</b></p>
                <button onclick="toggleInfoWindow(2)">+ Info</button>
            </div>
        </div>
    </div>
</section>

<div id="info-window-1" class="info-window">
    <span class="close-button" onclick="closeInfoWindow(1)">X</span>
    <div class="info-content">
        <h1>Aporte monetario</h1>
        <div class="info">
            <p><strong>Alias:</strong> CARITAS.MERCE.LUJAN</p>
            <p><strong>CBU:</strong> 2850767730000004852073</p>
            <p><strong>Entidad:</strong> Arzobispado de Mercedes Lujan</p>
            <p><strong>CUIT:</strong> 30557541051</p>
        </div>
        <div class="qr">
            <img src="media/QR_juan.png" alt="Imagen QR">
        </div>
    </div>
</div>

<div id="info-window-2" class="info-window">
    <span class="close-button" onclick="closeInfoWindow(2)">X</span>
    <div class="info-content">
        <h2>Acercate a nuestra sede</h2>
        <div class="info">
            <p><strong>Días y horarios de atención: </strong>Lunes de 13 a 16 hs y Miércoles de 9 a 12 hs</p>
            <p><strong>Contacto: </strong>(02324) 43-3028</p>
            <p><strong>Consultas: </strong>caritas@arquimercedes-lujan.com.ar</p>
            <p><strong>Ubicación: </strong><a href="https://maps.app.goo.gl/T7pAcQZq2gXJbjwp9" target="_blank">Calle 22 N° 745, Mercedes, Buenos Aires</a></p>
        </div>
    </div>
</div>

<script>
    // JavaScript functions to toggle and close the info windows
    function toggleInfoWindow(windowNumber) {
        var infoWindow = document.getElementById('info-window-' + windowNumber);
        infoWindow.style.display = infoWindow.style.display === 'none' ? 'block' : 'none';
    }

    function closeInfoWindow(windowNumber) {
        var infoWindow = document.getElementById('info-window-' + windowNumber);
        infoWindow.style.display = 'none';
    }
</script>

</body>
</html>