<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index Navbar</title>
    <link rel="stylesheet" href="indexNavbar.css">
</head>
<body>
<header th:fragment="indexNavbar" >
    <div class="container">
        <img src='media/mercedes_lujan_2.jpg' alt="Logo de Cáritas" class="logo-img">
        <nav>
            <a href="/">Inicio</a>
            <a href="/quienes-somos">Quiénes somos</a>
            <a href="/#que-hacemos">Novedades</a>
            <a href="/noticias">Noticias</a>
            <a href="/#ultima">Nosotros</a>
            <a href="/donar" class="donar-button">Donar aquí</a>
        </nav>
    </div>
</header>
</body>
</html>