<!DOCTYPE html>
<html lang="en">
<head>
    <title>Caritas</title>
    <link rel="stylesheet" href="info_carta.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <div class="container">
        <img src='media/mercedes_lujan_2.jpg' alt="Logo de Cáritas" class="logo-img">
        <nav>
            <a href="/">Inicio</a>
            <a href="/noticias">Noticias</a>
            <a href="/donar" class="donar-button">Dona aquí</a>
        </nav>
    </div>
</header>

<section id="hero"></section>


<section class="texto">
    <div class="container">
        <h1>Donación mensual</h1>
        <div class="image-container">
            <img src="media/DSC_0042.JPG">
        </div>
        <p>¿Ya eres parte de nuestra familia de donantes mensuales? ¡Gracias por tu apoyo continuo! Considera actualizar tu aporte mensual para que podamos llegar aún más lejos juntos. Cada aumento en tu donación mensual significa más recursos para ayudar a quienes más lo necesitan. ¡Tu compromiso hace la diferencia!.</p>
    </div>
</section>


<div class="container">
    <a href="/index"> <button class="volver-button">Volver</button> </a>
</div>


<footer>
    <div class="container">
        <a href="/donar"> <button class="donate-button">Donar aquí</button> </a>
    </div>
</footer>


</body>
</html>