<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Cáritas</title>
    <link href="noticias.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="container">
        <img src='media/mercedes_lujan_2.jpg' alt="Logo de Cáritas" class="logo-img">
        <nav>
            <a href="/">Inicio</a>
            <a href="/quienes-somos">Quiénes somos</a>
            <a href="/donar" class="donar-button">Donar aquí</a>
        </nav>
    </div>
</header>

<div class="container mt-4">
    <div class="row">
        <!-- Itera sobre las publicaciones y muestra cada una en una tarjeta -->
        <th:block th:each="publicacion : ${publicaciones}">
            <div class="col-md-4 mb-4">
                <div class="card fixed-card">
                    <img class="img-thumbnail rounded container"
                         th:src="@{'/media/'+${publicacion.getImagen()}}"
                         th:alt="${publicacion.getImagen()}"
                         style="max-width: 50%">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${publicacion.titulo}">Título</h5>
                        <p class="card-text description" th:text="${publicacion.descripcion}">Descripción</p>
                        <a th:href="@{/noticias/detallesPublicacion/{id}(id=${publicacion.getId()})}">Más Detalles</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".show-more").on("click", function () {
            var card = $(this).closest(".card");
            card.find(".description").hide();
            card.find(".description-more").text(card.find(".description").text());
            card.find(".description-more").show();
            $(this).hide();
        });
    });
</script>
</body>

</html>
