<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var mediaPath = "../static/media";
        var cssPath = "../static/";
    </script>
    <title>Caritas</title>
    <link rel="stylesheet" href="cssPath/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <div class="container">
        <img src='mediaPath/mercedes_lujan_2.jpg' alt="Logo de Cáritas" class="logo-img">
        <nav>
            <a href="/">Inicio</a>
            <a href="#como-donar" class="donar-button">Dona aquí</a>
        </nav>
    </div>
</header>

<section id="hero"></section>


<section class="texto">
    <div class="container">
        <h1>Pastoral Caritativa</h1>
        <p>Cáritas es amor en obras: nuestro servicio y nuestras acciones
            se inspiran en el amor a Dios y al prójimo. Buscando la verdadera
            dignificación del hombre, Cáritas se centra en tres momentos claves
            para llevar adelante su misión:</p>
    </div>
</section>

<section class="image-text-section">
    <div class="container">
        <div class="image-container">
            <img src="mediaPath/Captura desde 2023-11-10 09-50-02.png">
        </div>
        <div class="text-container">
            <h2>Asistencia</h2>
            <p>Forma de animar la caridad que consiste en dar respuestas a las necesidades
                mínimas o situaciones de emergencia de las comunidades más pobres.
                El desafío es no solamente dar de comer o abrigar sino acompañar a las familias
                y ser puerta de entrada para escuchar, contener, organizar y planificar tareas
                que estimulen la promoción humana.</p>
        </div>
    </div>
</section>

<section class="image-text-section1">
    <div class="container">
        <div class="image-container">
            <img src="mediaPath/Captura desde 2023-11-10 09-50-59.png">
        </div>
        <div class="text-container">
            <h2>Promoción Humana</h2>
            <p>Busca modificar, mejorar y suscitar cambios que mejoren las condiciones
                de vida de los más pobres. Requiere incorporar a las personas en la búsqueda
                de soluciones a sus problemas junto con otros. Este momento es menos inmediaPathto
                en sus efectos pero más durable, lo que requiere un trabajo desde la planificación
                con la persona y la comunidad. Se debe propiciar un proceso de desarrollo
                humano integral que fomente el desarrollo conjunto de cualidades, capacidades,
                posibilidades y recursos de las personas, para que puedan actuar de manera
                autónoma y comprometida y ser protagonistas activos en la construcción
                del bien común de la comunidad a la que pertenecen.
                Por ello son tareas fundamentales y complementarias la formación,
                la organización y la promoción comunitaria.</p>
        </div>
    </div>
</section>

<section class="image-text-section2">
    <div class="container">
        <div class="image-container">
            <img src="mediaPath/Captura desde 2023-11-10 09-51-38.png">
        </div>
        <div class="text-container">
            <h2>Caridad transformadora</h2>
            <p>La Iglesia desde la búsqueda de un mundo de hermanos, apunta a transformar
                las estructuras injustas de pecado y producir cambios en toda la sociedad para
                acercarnos al Proyecto de Dios.
                Promover la animación de la caridad transformadora es impulsar la reflexión
                y la formación de la conciencia social, acompañando acciones que permitan
                pasar de habitantes a ciudadanos.</p>
        </div>
    </div>
</section>

<section class="image-text-section3">
    <div class="container">
        <div class="image-container">
            <img src="mediaPath/Captura desde 2023-11-10 09-51-58.png">
        </div>
        <div class="text-container">
            <h2>Nuestra Visión</h2>
            <p>La visión de Cáritas es un mundo que es reflejo del Reino de Dios:
            <div class="li">Donde prevalecen la justicia, la paz, la libertad y la solidaridad;</div>
            <div class="li">En el que la dignidad de la persona humana, hecha a imagen de Dios,
                es lo más importante;</div>
            <div class="li">Donde no existe exclusión, discriminación, ni pobreza que deshumanicen;</div>
            <div class="li">Donde los bienes de la Tierra son compartidos entre todos;</div>
            <div class="li">Donde se respeta y cuida todo lo creado, por el bien común de las
                generaciones futuras;</div>
            <div class="li">En el que todas las personas, sobre todo las más pobres, marginadas
                y oprimidas, como parte de la comunidad mundial, tienen esperanza
                y están habilitadas a llegar a la plenitud de su humanidad.</div></p>
        </div>
    </div>
</section>




<footer>
    <div class="container">
        <button class="donate-button">Donar aquí</button>
    </div>
</footer>


</body>
</html>